.page.sale-order.report table.table-info.without-border tr td span:before {
}
.page.sale-order.report table.table-info.without-border tr td {    
}
.page.sale-order.report table.table-info.without-border tr td:first-child {
    text-align: right;
}
.page.sale-order.report table.table-info.without-border tr td:first-child:after {
    content: ":";
}
.page.sale-order.report table tr td:first-child {
    text-align: center;
}
.page.sale-order.report table tr td {
    padding: 4px;
}
.page.sale-order.report table tr th {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid black;
    border-top:1px solid #000;
}
table.item-pages {border-bottom: 1px double #000;margin-bottom: 0px !important}
table.item-pages tr:last-child {border-bottom: 1px solid #000;}
.table-info td.ref {vertical-align: top;font-weight: 150;}
.page [itemprop="name"] {font-weight: 200}