/***

NOVA REPORT.CSS

***/

#informations div {
    display: inline-block;
    margin-right: 1rem;
}
.signature {
    padding-top: 50px;;
    text-align: center;
    vertical-align: bottom;
    height: 100%;
    
    .signature_date {
        float:right;
        text-align:right;
        width:100%
    }
    
    .digital_signature {
        min-height: 150px;
    }
    
    .sign_name {
        text-decoration:underline; vertical-align : bottom;
    }
    

}

