/***

NOVA REPORT.CSS

***/

header nav.o_main_navbar {
    background-color: navy;
}

.report_name {
    float: right;
    span{
    font-size:12pt;
    max-width:200px;
    text-align:right;
    display: block;
    }
}

.article address[itemtype="http://schema.org/Organization"] div span[itemprop="name"] {
    display: block;
    font-weight: 500;
}

.article address[itemtype="http://schema.org/Organization"] div span[itemprop="name"]::before {
    content: " up: ";
    margin-left: -35px;
}

#informations {
    float: right;
    margin:  0 !important;
    min-width: 60% !important;
    text-align: right;
    .col-3 {
      flex: 0 0 40% ;
      min-width: 40%;
      * {
        display: inline-block;
      }  
    
    }
}


table[name="invoice_line_table"] {
    
    th {
        background-color: #d0d0d0;
    }
    th[name="th_description"] {
        text-align: center !important;
    }
    th:nth-last-child(2), td:nth-last-child(2) {
        display: none !important;
    }

    // th[name="th_taxes"] {
    //     display: none !important;
    // }

    // td! >#line_tax_ids  {
    //     display: none !important;
    // }

}

div#total {
    table {
        tr:last-child{
            color: black !important;
            font-weight: bold;
            font-size: +1;
        }
    }
}

.payment_communication p.payment.bank{
    label {
      min-width: 150px;
      text-align: right;
    }
}

p[name="payment_term"]:first-child {
    display: block;
} 
p[name="payment_term"] {
display: none;
}

.signature {
    padding-top: 50px;;
    text-align: center;
    vertical-align: bottom;
    height: 100%;
    
    .signature_date {
        float:right;
        text-align:right;
        width:100%
    }
    
    .digital_signature {
        min-height: 150px;
    }
    .digital_signature.empty{
        opacity: 0;
    }
    
    .sign_name {
        text-decoration:underline; vertical-align : bottom;
    }
    

}


@font-face {
    font-family: "Comfortaa";
    src: url("/web/static/src/scss/../fonts/google/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  