/***

NOVA REPORT.CSS

***/

header nav.o_main_navbar {
    background-color: navy;
}

body.container {
  font-family: "Open_Sans" !important;
}

@media print {
  /* All your print styles go here */
  #header,
  #footer,
  #nav {
    display: none !important;
  }
  
  body.container {
    width:210mm;
    
  }
  .header {
    height: 35mm;
  }
}

.header {
    font-family: 'Comfortaa', sans-serif !important;
    font-size: 8pt !important;
    .header-logo {
      text-align: center;
      align-items: center;
    }
    
    .header-address .company_name {
      text-transform:uppercase;font-weight:700;font-size:16pt
    }
    
    .info_address address > div{
         display: inline;
         font-size: 8pt;
        > div {
            width: calc(50% - 2px);
        }
    } 
    
    .report_title {
         width:calc( 30% - 8px);
         font-size:12pt;
         display:inline;
         float: right;
         span {
           text-align:right;
           display: block;
         }
         span:nth-child(2){
           font-weight:bold;
	    }

    }

    .info_address address[itemtype="http://schema.org/Organization"] {
      div[itemtype="http://schema.org/PostalAddress"] div{
        white-space:nowrap !important;
      
      
        span[itemprop="telephone"] {
          white-space: nowrap !important;
          min-width: 90px !important;
        }
      }
      span[itemprop="vatID"] {
      font-weight: bold;
     }
    }

}
.article.o_company_1_layout {
  font-family: Roboto;
  font-size: 11pt !important;
  
  
  table[name=invoice_line_table] thead {
    font-size:8pt;
  }
  
}

.article address[itemtype="http://schema.org/Organization"] div span[itemprop="name"] {
    display: block;
    font-weight: 500;
}

.article[data-oe-model="account.move"] address[itemtype="http://schema.org/Organization"] div span span[itemprop="name"]::before {
    content: " up:     ";
    margin-left: -30px;
}

.article address[itemtype="http://schema.org/Organization"] div span[itemprop="streetAddress"] br:nth-child(odd){
    content: "";
}
.article address[itemtype="http://schema.org/Organization"] div span[itemprop="streetAddress"] br::after {
    content: ", ";
}

.payment_communication{
    padding-top: 30px;
}

.sign-area {
    padding-top: 30px;
    text-align: center;
    vertical-align: bottom;
    height: 150px;
    
    .signature_date {
        text-align: center;
        width:100%
    }
    
    .signature-container {
      position: relative; 
      height: 150px;
  
     
      .digital_signature {
          position:absolute;
          top:10px;
          width: 50%;
          left:25%;
          z-index: 100;
      }
      
      .sign-name {
        position:absolute;
        bottom: 30px;
        text-decoration:underline; 
        vertical-align : bottom;
        z-index: 10;
      }
      
      .sign-position {
        position:absolute;
        bottom: 10px;
        vertical-align : bottom;
        z-index: 10;
      }
    
    }
 
    .digital_signature.empty{
        opacity: 0;
    }
        

}


@font-face {
    font-family: "Comfortaa";
    src: url("/nova_base/static/src/fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
  
